<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VoteApp</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="/lib/ng-dialog/css/ngDialog-theme-default.min.css">
    <link rel="stylesheet" href="/lib/angular-chart.js/dist/angular-chart.min.css" />
    <link rel="stylesheet" href="/stylesheets/sharrreStyle.css">
</head>
<body ng-app="voteApp">
    
    <!--Header-->
    <div ng-include="'/navbar/views/navbar.html'"></div>
   <!--header end -->
   
   <!--main view-->
   <section ng-view></section>
   
<p>This "fcc-voting" app is built by <a href="http://www.freecodecamp.com/dead-blue">@deadblue </a>of freecodecamp, 
following the instructions of <a href="http://www.freecodecamp.com/challenges/build-a-voting-app">"Basejump: Build a Voting App | Free Code Camp".</a>  
Github repository: </p>
</body>
<script>
    window.user = <%- user || 'null' %>;
</script>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular-route/angular-route.min.js"></script>
<script src="/lib/angular-resource/angular-resource.min.js"></script>
<script src="/lib/ng-dialog/js/ngDialog.js"></script>
<script src="/lib/Chart.js/Chart.min.js"></script>
<script src="/lib/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="/javascripts/jquery.sharrre.min.js"></script>
<script src="/users/user.js"></script>
<script src="/users/controller/user.controller.js"></script>
<script src="/users/services/user.services.js"></script>
<script src="/navbar/navbar.module.js"></script>
<script src="/navbar/controller/navbar.controller.js"></script>
<script src="/index/index.module.js"></script>
<script src="/index/controller/index.controller.js"></script>
<script src="/index/route/index.route.js"></script>
<script src="/polls/polls.js"></script>
<script src="/polls/route/polls.route.js"></script>
<script src="/polls/services/polls.services.js"></script>
<script src="/polls/controller/polls.controller.js"></script>
<script src="/application.js"></script>
</html>